*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: flex ;
    justify-content: center;
   
}
.header{
    background-color: bisque;
    height: 100%;
    width: 100vw;
   
    justify-content: space-between;
}